<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular.js"></script>
    <script src="../firebase.js"></script>
    <script src="../angularfire.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp">

    <div ng-controller="firstCtrl">
        <button ng-click="facebook()">Login With Facebook</button>
        <button ng-click="google()">Login With Google</button>
        <p>{{name}}</p>
        <p>{{email}}</p>
        <img ng-src="{{url}}">
    </div>
</body>
</html>